<div data-controller="index">
  <label for="starttime">
    Start Time:
  </label>
  <input id="starttime" data-index-target="start" type="text" name="start" >

  <label for="endtime">
    End Time:
  </label>
  <input data-index-target="end" type="text" name="end" >
  <canvas id="bar-chart" data-index-target="myChart" width="800" height="450"></canvas>
</div>

